

/* Placeholder */
.search-txt {
    color: #333;
}
.search-txt.placeholder {
    color: #8d8d8d;
}

/* Navbar */

.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-form > .form-group > .btn {
	background-color: #004FFF;
	color: black;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.navbar-form > .form-group > .btn:hover {
	
    background-color: #5E90FF; 
    color: white;
}

.register-password {
	color: white;
	font-size: 10px;
	margin-left: 5px;
}

.navbar-brand {
	margin-top: 3px;
	font-size: 30px;
}

.log-off {
	background-color: Transparent;
	color: #004FFF;
	background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  	margin-right: 20px;
  	margin-top: 5px;
    font-size: 20px;
    border: none;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.log-off:hover {
	color: white;
}

.navbar-header > .title {
	color: #004FFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}




/* Search field */
#search {
	margin: auto;
	width: 70%;
}

.jumbotron {
	background-color: #5E90FF;
}

.search-field {
	padding: 20px 15px 20px 15px;
	font-size: 25px;
	border-style: solid;
    border-width: 2px;
	border-color: #004FFF;
	border-radius: 50px;
}

#searchHeadline {
	text-align: center;
	color: black;
}

.rightAlign {
	width: 200%;
}

.searchBtn {
	padding: 10px 15px 10px 15px;
	border-style: solid;
    border-width: 2px;
	border-color: #004FFF;
	border-radius: 50px;
	background-color: #004FFF;
	color: black;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-image: url(../images/searchicon2.png);
    background-repeat: no-repeat;
    background-position: center; 
    margin-left: 10px;
}

.searchBtn:hover {
	background-color: #5E90FF; /* Green */
    color: white;
}


/* Result */

.link-result:link {
	color: black;
}

.link-result:visited {
	color: black; 
}

.order-table{
	border-collapse:collapse;
	margin: auto;
	width: 99%;
}

.order-table-header{
	text-align:left;
	background:none repeat scroll 0 0 #004FFF;
	border-bottom:1px solid #BBBBBB;
	padding:12px 16px 10px 10px;
	color: white;
	font-size: 16px;
}

.order-table-odd-row{
	text-align:left;
	background:none repeat scroll 0 0 #FFFFFF;
	border-top:1px solid #BBBBBB;
}

.order-table-even-row{
	text-align:left;
	background:none repeat scroll 0 0 #5E90FF;
	border-top:1px solid #BBBBBB;
} 

#resultH2 {
	text-align: center;
}

.row-output {
	padding: 10px;
}

.resultCol1 {
	width: 85%;
}

.resultCol2 {
	width: 14%;
}

.sortButtonsGroup {
	margin: 5px;
}

.sortbuttonsGroup option{
	color: red;
}



/* Register page */

.col-centered {
    margin: auto;
    float: none;
    top: 50px;
}


.left-register {
	padding: 10px 10px 10px 10px;
	text-align: right;
}

.right-register {
	padding: 10px 10px 10px 10px;
}

/* User registered page */

.oscar {
	background-color: red;
	padding: 20px 20px 20px 20px;
}
/* User profile page */


.selectManyCheckbox {
	color: red;
	padding: 10px;
}


.h2-center {
	text-align: center;
}


/* View movie */

.subscribe {
	background-color: #004FFF;
	font-weight: bold;
	color: black;
} 

.subscribe:hover {
	background-color: #5E90FF;
	color: white;
}

.removeSubscription {
	cursor: pointer;
	color: red; 
}

.unsubscribe {
	background-color: #FF0003;
	font-weight: bold;
	color: black;
} 

.unsubscribe:hover {
	background-color: #FF4B47;
	color: white;
}

.modal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popupNotLoggedInDiv {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

.close {
	color: red;
    /*color: #aaa;
    float: right;*/
    font-size: 28px;
    font-weight: bold;
    opacity: 1,0;
}

.modalRegister {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popupRegisterDiv {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 30%;
}

#registerBtn {
	background-color: #004FFF;
}

#loginBtn {
	background-color: #004FFF;
}

#cancelBtn {
	background-color: #FF4B47;
}

.removeSubscription:hover {
	color: purple;	
	cursor: pointer;
}

